{% extends "base.html" %}

{% block content %}
<h1>Breeze</h1>
<p class="deck">
 Logged in as {{  userMail   }} <br/>
    <a href="{% url 'profile' %}">Click here to see your previous lobbies and chats.</a>
</p>

    <form action="{% url 'new_lobby' %}" method="post">
        <label for="topic">Topic:</label>
        <input id="topic" type="text" name="topic" value="">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Create new lobby">
    </form>
{% endblock content %}