{% extends "base.html" %}

{% block content %}
<h1>Breeze</h1>
<p class="deck">
 Logged in as {{  userMail   }} <br/>
    This is your page. Here you can (soon) watch your previous lobbies and chats. <br/>
    For now, you can only make a new lobby. Try it out!
</p>

    <form action="{% url 'new_lobby' %}" method="post">
        <label for="topic">Topic:</label>
        <input id="topic" type="text" name="topic" value="">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Create new lobby">

    </form>


<p class="quiet">
    On this page we also need a button for lecturers and a
    general login button.
</p>
{% endblock content %}