{% extends "base.html" %}

{% block content %}
<h1> Breeze </h1>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


<form action="/lobbyredirect/" method="post">
    {% csrf_token %}
    <input name="code" onfocus="if (this.value=='Your code here') this.value = ''" type="text" value="Your code here">
    <input type="submit" value="->">
</form>

<div>
    <p> Already a user? </p>
    <p>
        <a class="button button-primary" href="{% url 'login' %}">
            Log in
        </a>
    </p>
</div>


{% endblock content %}

