{% extends "base.html" %}

{% block content %}
    <h1>Lobby</h1>

    <ul id="lobbybar">
        <li><p id="lobbyHeader">People connected: {{ student_count }}</p></li>
        <li><p id="lobbyHeader">Code: {{ code }}</p></li>
        <li><p id="lobbyHeader">Topic: {{topic}}</p></li>
    </ul>

    <table>
    <tr>
        <th>Name</th>
        <th>People connected</th>
        <th></th>
    </tr>
    <tr>
        <td>Room#1</td>
        <td>5</td>
        <td><form action="http://localhost:8000/room1/"><button>Join</button>
            </form></td>
    </tr>
        <tr>
            <td>Room#2</td>
            <td>4</td>
            <td><form action="http://localhost:8000/room2/"><button>Join</button>
            </form>
            </td>

        </tr>
    </table>
    <button id="startLobby">Start</button>
{% endblock content %}
