{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
<h1>{{ lobby.label }}</h1>
<p class="quiet">
    Welcome to the lobby
    <code>{{ request.scheme }}://{{ request.get_host }}/{{ lobby.label }}</code>
    <code>{{ lobby.connected_users  }}</code>
</p>

<p>
    <a class="button button-primary" href="{% url 'new_room' %}" >
        add a room to the lobby
    </a>
</p>

<ul id="lobbybar">
    <li><p id="lobbyHeader">People connected: {{ student_count }}</p></li>
    <li><p id="lobbyHeader">Code: {{ code }}</p></li>
    <li><p id="lobbyHeader">Topic: {{topic}}</p></li>
</ul>

<table>
    <tr>
        <th>Name</th>
        <th>People connected</th>
        <th></th>
    </tr>
    <tr>
        <td>Room#1</td>
        <td>5</td>
        <td><form action="http://localhost:8000/room1/"><button>Join</button>
        </form></td>
    </tr>
    <tr>
        <td>Room#2</td>
        <td>4</td>
        <td><form action="http://localhost:8000/room2/"><button>Join</button>
        </form>
        </td>
    </tr>
</table>
<button id="startLobby">Start</button>
{% endblock content %}

{% block afterbody %}
<script type="text/javascript" src='{% static "jquery-1.12.1.min.js" %}'></script>
<script type="text/javascript" src='{% static "reconnecting-websocket.min.js" %}'></script>
<script type="text/javascript" src='{% static "chat.js" %}'></script>
{% endblock afterbody %}
