{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
<h1>{{ room.label }}</h1>
<p class="quiet">
    Welcome to the chatroom, <span id="user">{{ user.email }}</span>

    <br/>
    This room belongs to {{ room.lobby_id }} and has {{  room.lobby.connected_users  }} users connected
    <br/>
    The topic for this discussion is: {{ room.lobby.topic }}

</p>
        <!--
<p>
    <label for="handle">Your name:</label>
    <input id="handle" type="text" placeholder="handle">
</p>
        -->
<form id="chatform">
    <div id="chatboundary" style="overflow-y:scroll; height:450px;">
    <table id="chat">
        <tbody>
            {% for message in messages %}
            <tr>
                <td>{{ message.formatted_timestamp }}</td>
                <td>{{ message.handle }}</td>
                <td>{{ message.message }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        </div>
        <table>
            <tr>
                <td>Say something:</td>
                <td colspan=2>
                    <input id="message" type="text" placeholder="message">
                    <button type="submit" id="go">Say it</button>
                </td>
        </table>


</form>


<a href="{% url 'download' %}?{{ room.label }}" class="lobbyLink">Download chat logs of this conversation</a>
<a href="{% url 'profile' %}" class="lobbyLink">Go to profile page</a>
<a href="{% url 'post_chat' %}" class="post_chat">Leave chat</a>



<h4>TODO:</h4>
<ul>
    <li>Show connected users</li>
</ul>

{% endblock content %}

{% block afterbody %}
<script type="text/javascript" src='{% static "jquery-1.12.1.min.js" %}'></script>
<script type="text/javascript" src='{% static "reconnecting-websocket.min.js" %}'></script>
<script type="text/javascript" src='{% static "chat.js" %}'></script>
{% endblock afterbody %}