body {
    padding-top: 4em;
}

p.deck {
    font-size: 2.5rem;
    font-weight: 200;
}

p.deck a {
    text-decoration: none;
}

.quiet {
    font-size: 90%;
    color: #999;
}

#topic {
    display: inline;
}

#code {
    display: inline;
}

h2 {
    font-size: 25px;
    display: inline;
}

#lobbyTableHeader {
    font-size: 20px;
}

#lobbybar li {
    display: inline;
    float: right;
    padding-right: 100px;
    font-size: 20px;
}

#startLobby {
    position: relative;
    float: left;
}

#startLobby {
    display: block;
}

#return_home {
    margin: 10px;

}

#save {
    display: inline;
    margin: 10px;
    color: #0FA0CE;
}

.button-primary #home_button {
    display: inline;
    margin: 10px;
    padding:10px 20px;
}

#post_header {
    font-size: 35px;
    font-weight: 600;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}


div.change_password {
    position: relative;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f0f0d2;
    width: 40%;
}

button.accordion {
    transition: 0.4s;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
}

button.accordion.active:after {
    content: "\2212";
}

#profilebar li {
    display: inline;
    float: right;
    font-size: 20px;
}

input.submit {
    display: block;
}